langchain==0.2.11
langchain_anthropic==0.1.22
langchain_community==0.2.10
langchain_core==0.2.26
langchain_experimental==0.0.63
langchain_openai==0.1.20
neo4j==5.22.0
neo4j_driver==5.21.0
openai==1.37.1
PyPDF2==3.0.1
python-dotenv==1.0.1
streamlit==1.35.0
